.gitignore
*~
*.o
*.gmo
*.so
*.lo
POTFILES
.deps/
Makefile
config.h
config.log
config.status
Info.plist
lxdream.1
po/Makefile.in
src/.deps/
src/drivers/mac_keymap.h
src/lxdream
src/pvr2/shaders.def
src/pvr2/shaders.h
src/sh4/sh4core.c
src/sh4/sh4dasm.c
src/sh4/sh4stat.c
src/sh4/sh4x86.c
src/str1Ilf2
src/tools/.deps/
src/tools/gendec
src/tools/genglsl
src/tools/genmach
src/version.c
stamp-h1
